body {
    font-family: 'Raleway Medium', sans-serif;
    font-size: 11px;
    color: #000000;
  }

  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 30px 0 0; /* Height of navbar */
    box-shadow: 0px 3px 6px #000000;
    background: #ffffff;
    opacity: 1;
    transition: 0.5s;
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .sidebar .nav-item{
      height: 65px;
  }

  .sidebar .nav-item span.close{
    display: none;
  }
  
  .sidebar .nav-link {
    font-family: 'Raleway Medium', sans-serif;
    font-weight: 500;
    color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    border-left: 5px solid #ffffff;
    transition: 0.6s;
  }

  .sidebar .nav-link .sidebar-icons{
      position: absolute;
      width: 25px;
      height: auto;
      left: 30px;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
    font-family: 'Raleway Medium', sans-serif;
    border-left: 5px solid #0056AB;
    background-color: rgba(0, 86, 171, 0.17);
  }

  .sidebar .nav-link:hover{
    color: #007bff;
    border-left: 5px solid #0056AB;
    background-color: rgba(0, 86, 171, 0.17);
  }

  
  .sidebar-heading {
    font-size: .75rem;
    position: relative;
    text-align: center;
    color: #0056AB;
    font-family: 'Raleway Bold', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
  }
  

  #sidebarMenu .bottom_nav{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      bottom: 160px;
  }

  #sidebarMenu .bottom_nav a.nav_buttons{
      width: 160px;
      height: 36px;
      background: #007BF5;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 10px 0px;
      margin: 10px auto;
      border: 1px solid #007BF5;
      border-radius: 10px;
      text-decoration: none;
      transition: 0.3s;
  }

  #sidebarMenu .bottom_nav a.nav_buttons:hover{
      background: #ffffff;
      color: #007BF5;
  }

  .color_default{
      color: #007BF5;
  }



  .main_wrapper{
      background: #F5F6FA;
      padding-top: 38px;
      padding-bottom: 38px;
  }

  .main_wrapper .top_bar{
      display: flex;
      align-items: center;
      position: relative;
  }

  .main_wrapper .top_bar h2{
      font-size: 18px;
      line-height: 1.2em;
      font-family: 'Raleway Bold', sans-serif;
      font-weight: 700;
      padding: 20px;
      margin: 0;
      color: #484848;
  }

  .main_wrapper .top_bar .campaign_select_btn{
      display: flex;
      align-items: center;
      position: absolute;
      right: 30px;
  }

  .main_wrapper .top_bar .campaign_select_btn p{
    background: #007BF5;
    color: #ffffff;
    padding: 10px;  
    margin: 0px 10px 0px 0px;
    border: 1px solid #007BF5;
    border-radius: 6px;
    font-family: 'Raleway Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }

  .main_wrapper .top_bar .campaign_select_btn a{
      color: #007BF5;
      font-size: 14px;
  }

  #form_container .box-designs{
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
    height: 100%;
  }

  #form_container .box-designs .heading{
    display: flex;
    align-items: center;
    padding: 0px 40px;
  }

  #form_container .box-designs .heading h2{
    font-size: 18px;
    font-family: 'Raleway SemiBold', sans-serif;
    font-weight: 700;
    flex-basis: 80%;
    margin: 0px;
    color: #484848;
  }

  #form_container .box-designs .heading p{
    flex-basis: 20%;
    padding: 0px;
    margin: 0px;
    text-align: right;
  }


  #form_container .box-designs .input-container{
    padding: 10px 40px;
  }

  #form_container .box-designs .input-container .email_plus_adjust{
    display: flex;
    align-items: center;
  }

  #form_container .box-designs .input-container .email_plus_adjust .email_input{
    flex-basis: 90%;
  }

  #form_container .box-designs .input-container .email_plus_adjust .plus_sign{
    flex-basis: 10%;
    margin: 0px;
    padding: 0px;
    text-align: right;
  }
  #form_container .box-designs .input-container .email_plus_adjust .bi-plus:hover{
    cursor: pointer;
  }


  #form_container .custom_label{
    font-size: 12px;
  }

  #form_container .custom_input{
    border: 2px solid #B4B4B4;
    border-radius: 6px;
    width: 90%;
  }

  #form_container .custom_input:focus,
  #form_container .custom_input:hover{
    border: 2px solid #0080FF;
    border-radius: 6px;
    box-shadow: none;
  }



  /* Style the close button */
  #showEmail .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 6px;
  cursor: pointer;
  color: #7A7A7A;
  font-size: 18px;
}

#showEmail .close:hover {
  background-color: #f44336;
  color: #ffffff;
}

ul#showEmail{
  padding-left: 5px;
  margin: 10px 0 0 0;

}

ul#showEmail li {
  position: relative;
  list-style-type: none;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0px 0px 5px 0px;
  color: #000000;
  font-size: 14px;
  font-family: 'Montserrat Medium';
}



/* Style the close button */
#showJobtitles .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 6px;
  cursor: pointer;
  color: #7A7A7A;
  font-size: 18px;
}

#showJobtitles .close:hover {
  background-color: #f44336;
  color: #ffffff;
}

ul#showJobtitles{
  padding-left: 5px;
  margin: 10px 0 0 0;

}

ul#showJobtitles li {
  position: relative;
  list-style-type: none;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0px 0px 5px 0px;
  color: #000000;
  font-size: 14px;
  font-family: 'Montserrat Medium';
}



/* Style the close button */
#showgeography .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 6px;
  cursor: pointer;
  color: #7A7A7A;
  font-size: 18px;
}

#showgeography .close:hover {
  background-color: #f44336;
  color: #ffffff;
}

ul#showgeography{
  padding-left: 5px;
  margin: 10px 0 0 0;

}

ul#showgeography li {
  position: relative;
  list-style-type: none;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0px 0px 5px 0px;
  color: #000000;
  font-size: 14px;
  font-family: 'Montserrat Medium';
}

.uploadfile_btn{
  background: #007BF5;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #007BF5;
  border-radius: 6px;
  width: 250px;
  height: 40px;
}
.uploadfile_btn:focus{
  outline: none;
}


.uploadfile_btn_multi{
  background: #ffffff;
  color: #007BF5;
  font-size: 14px;
  border: 1px solid #007BF5;
  border-radius: 6px;
  width: 250px;
  height: 40px;
}



#spnFilePath{
  display: none;
  margin-top: 15px;
  font-size: 12px;
  color: #4E4E4E;
}

.bi-upload{
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  top: 90px;
  left: 90px;
}

.nofile_text{
  display: inline-block;
  font-size: 12px;
  color: #4E4E4E;
  margin: 0px;
}

.upload_btns_wrapper{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.upload_btns_wrapper .left_section{
  flex-basis: 60%;
  padding-bottom: 10px;
}
.upload_btns_wrapper .right_section{
  flex-basis: 40%;
  padding-bottom: 10px;
}

#fileList{
  margin-top: 15px;
  font-size: 12px;
  color: #4E4E4E;
  
}

#fileList ul li{
  list-style: none;
  font-size: 14px;
  color: #4E4E4E;
  margin: 0px;
  position: relative;
  padding: 5px 0px;
}


#fileList span.close{
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 9px;
  cursor: pointer;
  color: #7A7A7A;
  font-size: 18px;
}


#fileList span.close:hover{
  background-color: #f44336;
  color: #ffffff;
}


#service_types .row1{
  display: flex;
  align-items: center;
  margin: 20px 0px;
  padding: 0px 40px;
}

#service_types .row1 img{
  width: 46px;
  height: auto;
}

#service_types .row1 p{
  font-size: 12px;
  color: #000000;
  padding: 0px 10px;
  margin: 0px;
  flex-basis: 50%;
}

.form-check-input:checked[type=radio]{
  background-image: none;
}

.form-check-input{
  width: 20px;
  height: 20px;
  margin: 0px;
}

#service_types label{
  font-size: 12px;
  color: #000000;
  padding-left: 10px;
}

#service_types .checkbox_group{
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

#service_types .checkbox_group .yes_select_box{
  flex-basis: 50%;
  align-items: center;
  display: flex;
}

#service_types .checkbox_group .no_select_box{
  flex-basis: 50%;
  align-items: center;
  display: flex;
}


.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #A8A8A8;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.custom_txt{
  padding: 0px 10px;
  font-size: 12px;
  color: #787878;
}

.btn_alignment{
  display: flex;
  justify-content: flex-end;
}


.submit_save_buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 560px;
  padding: 0px;
}

.submit_save_buttons .custom_btns{
  font-family: 'Raleway Medium', sans-serif;
  background: #007BF5;
  color: #ffffff;
  font-size: 14px;
  border: 1px solid #007BF5;
  border-radius: 6px;
  width: 250px;
  height: 40px;
  margin: 10px;
}

.submit_save_buttons .custom_btns:hover{
  background: #ffffff;
  color: #007BF5;
}

.submit_save_buttons .margin-right-0{
  margin-right: 0px;
}


.navbar-toggler{
  color: #007BF5;
  display: none;
}

.closebtn{
  position: absolute;
  right: 0;
  top: 0;
  padding: 0px 6px;
  cursor: pointer;
  color: #7A7A7A;
  font-size: 18px;
  text-decoration: none;
  display: none;
}

@media only screen and (max-width: 767px) {
  .sidebar{
    opacity: 0;
    display: none;
  }
  .navbar-toggler{
    display: block;
    position: relative;
    z-index: 999;
  }

  .closebtn{
    display: block;
  }
}


@media only screen and (max-width: 570px){
  #form_container .box-designs .heading{
    padding: 0px 10px;
  }
  #service_types .row1{
    padding: 0px 10px;
  }

  .px-4{
    padding: 0px !important;
  }

  .p-4{
    padding: .5rem !important;
  }

  .bi-upload{
    top: 76px;
    left: 55px;
  }

  #form_container .box-designs .input-container{
    padding: 0px 10px;
  }

  .select-item-container{
    padding: 0px 10px !important;
  }

  .directorist-select__container{
    min-width: 240px !important;
  }

  #service_types label{
    padding-left: 2px;
  }

  #form_container .box-designs .heading h2{
    font-size: 16px;
  }

  .main_wrapper .top_bar h2{
    padding: 20px 0;
  }
  .main_wrapper .top_bar .campaign_select_btn{
    right: 0px;
    top: -30px;
  }
}
